* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.carousel {
  overflow: hidden;
  width: 80%;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  animation: scroll 20s linear infinite;
}

.carousel-item {
  flex: 0 0 20%; /* Adjust for number of items shown at once */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100px; /* Adjust max height of logos */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
